/* VARIABLES */
:root {
    --primary-color: #2d2c2c;
    --secondary-color: #b3b3b3;
}

small {
    color: red;
}

.is-invalid {
    border-color: red;
}

.edit-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

.edit-page-header h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.edit-page-header p {
    margin: 0px;
    color: var(--secondary-color);
}

.edit-form-card {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 1px rgba(0,61,10,0.2);
    padding: 20px;
}

.Settings__section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.Settings__section label {
    margin-bottom: 10px;
}

.edit-name{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.edit-name label {
    margin-bottom: 10px;
}

.edit-name input {
    border-radius: 5px;
    height: 45px;
}

.edit-content{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.edit-content label {
    margin-bottom: 10px;
}

.edit-content textarea {
    border-radius: 5px;
    min-height: 250px;
}

.edit-action {
    width: 13.5%;
    display: flex;
    justify-content: space-between;
}
